<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <div th:replace="fragments/MaterializeFragment :: materializeHeadImports"></div>
</head>

<body>
    <h1>Events List</h1>
    <h3>
        <a href="/EventRegister" class="waves-effect waves-red btn">
            <i class="material-icons left"> cloud </i> Event Register
        </a>
    </h3>
    <table class="container">
        <thead>
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="event : ${events}">
                <div class="row">
                    <td><span th:text="${event.getname()}"></span></td>
                    <td><span th:text="${event.getplace()}"></span></td>
                    <td><span th:text="${#dates.format(event.getdate(), 'dd/MM/yyy')}"></span></td>
                </div>
            </tr>
        </tbody>
    </table>
    <div th:replace="fragments/MaterializeFragment :: materializeBodyImports"></div>
</body>

</html>