<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <th:block th:replace="fragments/MaterializeImportFrag :: materializeHeadImports"></th:block>
    <link rel="stylesheet" href="/style/StyleCss.css"/>
</head>

<body>
    <header>
        <nav class="blue accent-4">
            <div class="nav-wrapper">
                <a href="/Events" class="brand-logo"> Event List</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/EventRegister" class="waves-effect waves-light btn">
                            <i class="material-icons left"> cloud </i> Event Register
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <table class="container eventListStyle">
        <thead>
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${eventsHTML}">
                <div class="row">
                    <!-- EC is EventController initial letters. -->
                    <!-- eventDetailsGet is the action from EventController. -->
                    <td>
                        <a th:href="${(#mvc.url('EC#eventDetailsGet').arg(0, event.getEvent_pk())).build()}">
                            <span th:text="${event.getName()}"></span>
                        </a>
                    </td>
                    <td><span th:text="${event.getPlace()}"></span></td>
                    <td><span th:text="${#dates.format(event.getDate(), 'MM/dd/yyy')}"></span></td>

                    <td>
                        <a class="waves-effect waves-light btn-small"
                           th:href="${(#mvc.url('EC#deleteEvent').arg(0, event.getEvent_pk())).build()}">
                            <i class="material-icons left">delete</i>
                        </a>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>

    <th:block th:replace="fragments/MaterializeImportFrag :: materializeBodyImports"></th:block>
</body>

</html>