<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <div th:replace="fragments/MaterializeFragment :: materializeHeadImports"></div>
</head>

<body>
    <h1>Event</h1>
    <h3>
        <a href="/Events" class="waves-effect waves-light btn">
            <i class="material-icons left">add_circle_outline</i> Events List
        </a>
    </h3>

    <div th:each="event : ${eventHTML}" class="container">
        <div class="row">
            <p> Name: <span th:text="${event.getName()}"></span> </p>
            <p> Place: <span th:text="${event.getPlace()}"></span> </p>
            <p> Date: <span th:text="${event.getDate()}"></span> </p>
        </div>

        <form method="post">
            Guest Name: <input type="text" value="" name="name">
            Guest RG: <input type="text" value="" name="rg">
            <button class="waves-effect waves-light btn" type="submit">Add Guest</button>
        </form>
    </div>

    <h5> Guests List </h5>
    <div class="container" th:each="guest : ${guestsHTML}">
        <div class="row">
            <div class="input-field col s6" >
                <p><span th:text="${guest.getName()}"></span></p>
            </div>

            <div class="input-field col s3" >
                <p><span th:text="${guest.getRg()}"></span></p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/MaterializeFragment :: materializeBodyImports"></div>
</body>

</html>